################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/algdspolytech20252026/FileContentIndex/2a1d9f9c-c779-4410-a939-af48257bcbb2.vsidx
/.vs/algdspolytech20252026/FileContentIndex/2756645d-e72b-45f1-b37b-dfacdae71afd.vsidx
