!**/*.c
!**/*.h
!**/*.txt
!**/*.vcxproj
!Makefile

**/[Bb]in/**
**/[Oo]bj/**
**/[Dd]ebug/**
**/[Rr]elease/**
**/[Rr]elWithDebInfo/**
**/x64/**
**/x86/**
**/*.obj
**/*.o
**/*.lib
**/*.exp
**/*.dll
**/*.exe
**/*.pdb
**/*.idb
**/*.ilk
**/*.pch
**/*.lastbuildstate
**/*.log
**/*.tlog
**/*.tmp

.vs/
**/.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.VC.db
*.VC.opendb
*.vcxproj.user
*.ipch

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json

packages/
*.nupkg

Thumbs.db
.DS_Store