
.idea/
cmake-build-*/
*.iws
*.iml
*.ipr


*.swap

*.exe
*.out
*.app
*.dll
*.so
*.dylib

*.o
*.obj

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.cmake

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

*.log